page-myparallax {
    ion-header .toolbar-background {
        background-color: transparent;
        border: none;
    }
    .show-background {
        .toolbar-background {
            border-style: none;
            background-color: #3db5e7;
            transition: all .3s ease-in-out;
        }
        .toolbar-title {
            color: #fff;
        }
    }
    .transition {
        transition: background-size .3s ease-in;
    }
    .content {
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .scroll-content {
        background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin-top: 0px !important;
    }
    .header-md::after {
        display: none;
    }
    .big {
        margin: 0px;
        height: 36% !important;
        background: url('../assets/img/ciudad.jpg') no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            margin: 0px auto;
            text-transform: capitalize;
            color: #3db5e7;
        }
    }
    .body {
        top: 32%;
        background-color: #111111;
        ion-item,
        .item-md,
        .item-block {
            color: #efefef;
            background-color: transparent;
            ion-avatar {
                border-radius: 50%;
                overflow: hidden;
                width: 44px;
                height: 44px;
                img {
                    width: auto;
                    height: auto;
                    margin: 0px auto;
                    max-width: 100%;
                    vertical-align: middle;
                    border-radius: 0px;
                }
            }
        }
        p {
            color: #e0e0e0;
            font-size: 1.4rem;
        }
    }
}